body {
    margin: 0;
    font-family: 'Cabin', sans-serif;
  }

* {
  box-sizing: border-box;
  transition: 0.4s ease all;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.logo { 
    font-family: 'Mr De Haviland', cursive;
    letter-spacing: 3px;
    font-weight: lighter;
    margin: 0px 0px 0px 60px;
    font-size: 25px;
}

ul {
  padding: 0;
  margin: 0;
}
nav {
  height: 65px;
}
header {
  height: 65px;
}
.navbar {
  background: #080808;
  color: #fff;
  padding: 15px;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
}
.navbar .logo {
  cursor: pointer;
}
.navbar ul.links {
  margin-left: auto;
  margin-right: 50px;
  list-style: none;
  display: flex;
  align-items: center;
  transition: 0.4s ease all, 0s ease background;

}

.navbar ul.links li {
  text-transform: uppercase;
  padding: 0 15px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease all, 0s ease margin;
}
.navbar ul.links li a {
  text-decoration: none;
  color: #fff;
}
.navbar ul.links li:hover {
  background: #e5ffe5;
  cursor: pointer;
}
.navbar ul.links li:hover a {
  color: #080808;
}

.navbar.sticky {
  position: fixed;
  z-index: 40;
}
.navbar.sticky ~ main {
  position: relative;
  z-index: 20;
  top: 65px;
}


.profile {
  display: flex;
}
.photo img {
  margin: 100px 0px 40px 360px;
  width: auto;
  height: 400px;
  box-shadow: 249px 12px 1px #e5ffe5;
  border-radius: 50%;
}
.about {
  margin: 200px 0px 40px 45px;
}
.about a{
  text-decoration: none;
  color: #080808;
}
.title {
  font-size: 50px;
  margin: 20px;
  text-transform: uppercase;
}
.icon {
  margin: 33px 0px 0px 84px;
}
.icon img {
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 10px;
}
.facebook {
  margin: 0px 0px 0px 0px;
}
.linkedin {
  margin: 0px 0px 0px 0px;
}

.hero-gradient {
  position: relative;
    width: 100%;
    margin-top: -150px;
    padding: 60px 12px 40px;
    background-color: #e5ffe5;
    height: 635px;
}
#wave {
  position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    width: 100%;
}

svg path {
    fill: white;
}
.portfolio{
 padding: 215px 0px 0px 0px;
}
.portfolio h2, h3{
  text-align: center;
}
.portfolio-info {
  display: flex;
  justify-content: center;
}
.box {
  margin: 20px 20px;
}
@media screen and (min-width: 1024px) {
svg {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
}
@media screen and (max-width: 850px) {
  .navbar .right {
    height: 0;
    overflow: hidden;
  }
  .toggle {
    position: absolute;
    top: 35.5px;
    right: 20px;
    z-index: 99;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .toggle > * {
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 3px 0;
  }
  .navbar.collapsed .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
  }
  .navbar.collapsed .toggle .line2 {
    opacity: 0;
  }
  .navbar.collapsed .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar.collapsed .logo {
    position: absolute;
    z-index: 44;
  }
  .navbar .links {
    position: fixed;
    background: #080808;
    z-index: 40;
    top: 0;
    left: -100%;
    flex-direction: column;
    width: 101vw;
    height: 43vh;
  }
  .navbar .links li:first-child {
    margin-top: 80px;
  }
  .navbar.collapsed .links {
    left: 0;
  }
  .navbar.collapsed .links a {
    color: #fff;
  }
  .navbar.collapsed .links li {
    width: 100%;
  }
  .navbar.collapsed .links li:hover a {
    color: #080808;
  }
  .navbar.collapsed .right {
    position: fixed;
    width: 45vw;
    text-align: center;
    height: auto;
    bottom: 40px;
    left: 22.5vw;
    transform: translateX(-50%);
    z-index: 45;
  }
  .navbar.collapsed ~ main {
    filter: blur(1px);
    opacity: 0.8;
  }
  .navbar.sticky {
    position: fixed;
    z-index: 40;
  }
}

@media (max-width: 768px) {
 span {
     font-size: 45px;
 }
 .logo { 
    margin: 0px 0px 0px 25px;
    font-size: 25px;
}
}

@media (min-width: 992px) {
  
}

@media (min-width: 1200px) {
    
}


